.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about{

}
.flex{
 height: 100vh;
 display: flex;
 margin-right: 5%;
}
#titre{
  text-decoration: underline;
  font-size: 73px;
    margin: 16px;
    color: rgb(16 16 16 / 56%);
}
#paragraphe{
  font-family: Georgia, serif;
  font-size: 1.2em;
  line-height: 1.6;
  margin:213px 2px 3px 4px;
  color: black;
}
a{
  color: rgb(158, 21, 21);
}
.navbar-brand{
  color: white;
}
.cards{
  width: '20rem';
}
.btn-primary{
  background-color:'#282c34 !important';
}
